html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    padding-top: 1em;
}

.center {
    display: flex;
    justify-content: center;
}