---
import BasculeLangue from "./basculeLangue.astro";
import BasculeTheme from "./basculeTheme.astro";
---

<nav class="flex justify-between">
  <div></div>
  <div class="p-4 flex gap-6">
    <BasculeLangue />
    <BasculeTheme />
  </div>
</nav>
