---
import { obtenirLangueSelonUrl, utiliserTraductions } from "../i18n/utils";
import { idContenuPrincipal } from "../utils/accessibilite";
import Hero from "../components/hero.astro";
import GabaritBase from "../layouts/gabaritBase.astro";
import Conteneur from "../components/conteneur.astro";
import PiedDePage from "../components/piedDePage/piedDePage.astro";
import Introduction from "../components/aPropos/introduction.astro";

const langue = obtenirLangueSelonUrl(Astro.url);
const t = utiliserTraductions(langue);
---

<GabaritBase titre={t("accueil.titre")} description={t("accueil.description")}>
  <div class="flex flex-col">
    <Hero id={idContenuPrincipal} />
    <main class="mt-[calc(100vh)]">
      <Conteneur>
        <Introduction niveauTitre="h2" />
      </Conteneur>
    </main>
    <PiedDePage />
  </div>
</GabaritBase>
