---
import { obtenirLangueSelonUrl } from "../../i18n/utils";
import { getEntry } from "astro:content";
import type { NiveauTitre } from "../../utils/titre";

const langueCourante = obtenirLangueSelonUrl(Astro.url);
const contenu = await getEntry("a-propos", `${langueCourante}/introduction`);
const { Content } = await contenu.render();

interface Props {
  niveauTitre: NiveauTitre;
}

const { niveauTitre: Titre } = Astro.props;
---

<div class="p-8 mt-12 rounded-3xl">
  <Titre class="text-2xl font-bold">{contenu.data.titre}</Titre>
  <section class="text-lg leading-8 opacity-90 pt-4">
    <Content />
  </section>
</div>
