---
import { obtenirLangueSelonUrl, utiliserTraductions } from "../../i18n/utils";

import LogoGitHub from "~icons/fa6-brands/github";

const langue = obtenirLangueSelonUrl(Astro.url);
const t = utiliserTraductions(langue);
---

<a href="https://github.com/Olaren15" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center p-2">
  <LogoGitHub class="min-w-[36px] h-auto" aria-hidden="true" role="presentation" />
  <span class="p-1">{t("socials.github")}</span>
  <span class="sr-only">
    {" "}{t("accessibilite.lien.ouvre-dans-un-nouvel-onglet")}
  </span>
</a>
