---
import { obtenirLangueSelonUrl, utiliserTraductions } from "../../i18n/utils";

import LogoLinkedIn from "~icons/fa6-brands/linkedin";

const langue = obtenirLangueSelonUrl(Astro.url);
const t = utiliserTraductions(langue);
---

<a
  href="https://www.linkedin.com/in/catherine-gilbert-a1525a1b5/"
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-col items-center p-2"
>
  <LogoLinkedIn class="min-w-[36px] h-auto" aria-hidden="true" role="presentation" />
  <span class="p-1">{t("socials.linkedIn")}</span>
  <span class="sr-only">
    {" "}{t("accessibilite.lien.ouvre-dans-un-nouvel-onglet")}
  </span>
</a>
