---
import { obtenirLangueSelonUrl, utiliserTraductions } from "../../i18n/utils";
import LienGitHub from "./lienGitHub.astro";
import LienLinkedIn from "./lienLinkedIn.astro";

const langue = obtenirLangueSelonUrl(Astro.url);
const t = utiliserTraductions(langue);
---

<footer class="bg-main flex flex-col gap-4 items-center p-6 text-light-foreground">
  <p class="text-xl">{t("pied-de-page.signature")}</p>
  <div class="flex">
    <LienGitHub />
    <LienLinkedIn />
  </div>
</footer>
