---
import { obtenirLangueSelonUrl, utiliserTraductions } from "../i18n/utils";

const langue = obtenirLangueSelonUrl(Astro.url);
const t = utiliserTraductions(langue);
---

<div class="flex flex-col gap-3 min-h-[20em] place-items-center justify-center">
  <p class="text-2xl font-bold">🚧 {t("accueil.construction.en-construction")} 🚧</p>
  <p class="text-lg">{t("accueil.construction.plus-prochainement")}</p>
</div>
