---
import { obtenirLangueSelonUrl, utiliserTraductions } from "../i18n/utils";
import { Image } from "astro:assets";

import forme1 from "../images/forme1.svg";
import forme2 from "../images/forme2.svg";
import forme3 from "../images/forme3.svg";

const langue = obtenirLangueSelonUrl(Astro.url);
const t = utiliserTraductions(langue);

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<header
  id={id}
  class="flex flex-col flex-grow justify-center items-center text-center
    absolute top-0 bottom-0 left-0 right-0 -z-10 p-2
    overflow-x-clip"
>
  <hgroup>
    <h1 class="text-5xl font-bold tracking-tight">
      {t("accueil.hero.salutation")}{" "}
      <span class="text-transparent bg-clip-text bg-gradient-to-tr from-main-darker to-main"
        >{t("accueil.hero.prenom")}&nbsp;{t("accueil.hero.nom")}{t("ponctuation.point")}</span
      >
    </h1>
    <p class="mt-4 text-3xl opacity-90">{t("accueil.hero.poste")}</p>
  </hgroup>
  <Image
    aria-hidden="true"
    role="presentation"
    class="absolute -z-10 bottom-0 right-0 translate-x-[40%] translate-y-[30%] mobile-landscape:translate-x-[60%] mobile-landscape:translate-y-[50%]"
    src={forme1}
    alt=""
    loading="eager"
  />
  <Image
    aria-hidden="true"
    role="presentation"
    class="absolute -z-10 top-0 left-0 translate-y-[-10%] mobile-landscape:translate-y-[-20%] hidden md:block"
    src={forme2}
    alt=""
    loading="eager"
  />
  <Image
    aria-hidden="true"
    role="presentation"
    class="absolute -z-10 top-0 left-0 rotate-[30deg] translate-x-[-45%] translate-y-[-50%] mobile-landscape:translate-x-[-60%] mobile-landscape:translate-y-[-70%] md:hidden"
    src={forme3}
    alt=""
    loading="eager"
  />
</header>
