---
import "@fontsource-variable/urbanist";

import { obtenirLangueSelonUrl } from "../i18n/utils";

interface Props {
  titre: string;
  description: string;
}

const { titre, description } = Astro.props;
const langue = obtenirLangueSelonUrl(Astro.url);
---

<!doctype html>
<html lang={langue}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script>
      import { appliquerTheme, obtenirPreferenceTheme } from "../theme/utils.ts";

      appliquerTheme(obtenirPreferenceTheme());
    </script>
    <title>{titre}</title>
  </head>
  <body class="bg-light-background dark:bg-dark-background text-light-foreground dark:text-dark-foreground transition">
    <slot />
  </body>
</html>
