---
import "@fontsource/zen-kaku-gothic-new"
import {obtenirLangueSelonUrl} from "../i18n/utils";

interface Props {
    titre: string;
    description: string;
}

const {titre, description} = Astro.props;
const langue = obtenirLangueSelonUrl(Astro.url);
---

<!doctype html>
<html lang={langue}>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>{titre}</title>
</head>
<body>
<slot/>
</body>
</html>

<style is:global>

</style>
